/Bin
.vs/
*.opensdf
*.sdf
*.user
*.suo
FalcorRT.VC.db
FalcorRT.VC.VC.opendb
*.VC.opendb
*.orig
/pink_room/*
*.VC.db
/Falcor/Framework/Externals/
/Falcor/Media/
/Falcor/Framework/Lib/debugdxr/Falcor.lib